*{
    background-color: rgb(233, 233, 233);
}

img{
    margin-top: 5px;
    width: 75px;
    height: 75px;
    margin-right: 20px;
}

logo{
    display: flex;
    padding-top: 40px;
    background-color: #2782ee;
    height: 100px;
    max-width: 100%;
    color: rgb(243, 234, 234);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    justify-content: center;
    font-size: 50px;
}

.logo_1{
    padding-top: 20px;
}



homo{
    display: flex;
    background-color:#2782ee;
    height: 100px;
    max-width: 100%;
    color: rgb(233, 233, 233);
    padding: 10px;
    
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    padding: 20px;
}

.homo_0{
    padding-left: 195px;
    padding-bottom: 1px;
}

.homo_1{
    padding-left: 40px;
    justify-content: space-around;
}

.th_mov{
    padding-left: 10px;
    color:gray;
    font-size: 30px;
}


quadro{
    display: flex;
    flex: 1;
    background-color: white;
    margin: auto;
    width: 800px;
    height: 800px;
    border-radius: 30px;
    box-shadow:0 0 30px rgb(12, 12, 12);
    margin-top: -140px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}

button{
    background-color: blue;
    height: 200px;
    width: 780px;
    border-radius: 10px;
    border-style: none;
    margin: auto;
    font-size: 50px;
}

h1{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-size: 50px;
}


h2, h3, h4{
    display: flex;
    background-color: white;
    justify-content: center;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h5{
    margin-top: 5px;
    margin-left: 10px;
    background-color: #2782ee;
}

h6{
    background-color: #2782ee;
}

.enter{
    color: rgb(3, 3, 66);
    font-size: 45px;
    margin-top: 40px;
}

.place{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;

}

.time_h3{
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 15px;
    margin: auto;
    font-size: 50px;
    font-weight: bold;
}

h3{
    background-color: rgb(233, 233, 233);
}

.text_color{
    color: grey;
    font-size: 40px;
}

.text_time{
    font-family:Arial, Helvetica, sans-serif;
}

.text_color_again{
    display: flex;
    color: red;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
}

wrapper{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
}

.wra{
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1, .box2, .box3, .box4{
    display: flex;
    background-color: white;
    width: 49%;
    height: 60px;
    justify-content: center;
    align-items: center;  
}

.iin{
    background-color: white;
    display: flex;
    font-size: 30px;
    color: grey; 
}

.numb{
    display: flex;
    background-color: white;
    font-size: 30px;
    color: black;
}

.box1, .box3{
    border-right: black solid 2px;
}

.box3, .box4{
    border-bottom: black solid 2px;
}

