*{
    background-color: rgb(233, 233, 233);
    margin:0;
}

.icon {
    background-image: url("3.svg");
    background-repeat: no-repeat;
    background-color: inherit;
    width: 200px;
    height: 200px;
    margin-left: -90px;
}

.svg1{
    background-color:inherit;
}

.wraphomo{
    display: flex;
    flex-direction: column;
    background-color: inherit;
    width: 800px;
    margin: auto;
    margin-top: 30px;
}

.wrapp{
    display: flex;
    flex-direction: column;
    height: 600px;
    background: linear-gradient(to top, rgb(18, 5, 134), rgb(80, 129, 234));
}
    
logo{
    display: flex;
    padding-bottom: 60px;
    background-color:inherit;
    height: 100px;
    max-width: 100%;
    color: rgb(243, 234, 234);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    justify-content: center;
    font-size: 50px;
}

.logo_1{
    padding-top: 75px;
    margin-left: -35px;
    letter-spacing: 5px;
}

.bold_numb{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

homo{
    display: flex;
    background-color:inherit;
    height: 60px;
    max-width: 100%;
    color: rgb(233, 233, 233);
    padding: 10px;
    align-items: center;
    font-family: Montserrat;
    font-size: 60px;
    padding: 20px;
}

.homo_0{
    padding-bottom: 1px;
}

.homo_1{
    justify-content: space-between;
}

.th_mov{
    padding-left: 10px;
    color:gray;
    font-size: 30px;
}

quadro{
    display: flex;
    flex: 1;
    background-color: white;
    margin: auto;
    width: 800px;
    height: 1000px;
    border-radius: 30px;
    box-shadow:0 0 30px rgb(12, 12, 12);
    margin-top: -200px;
    flex-direction: column;
    font-family: Montserrat;
}

.blue{
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 200px;
    width: 780px;
    border-radius: 30px;
    border-style: none;
    margin: auto;
    font-size: 50px;
}

.blue_1{
    display: flex;
    color: rgb(207, 157, 19);
    margin: 0;
    background-color: inherit;
    border-radius: 30px;
    justify-content:flex-end;
    margin-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}

.blue_2{
    display: flex;
    margin: 0;
    margin-top: -5px;
    background-color: transparent;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

/*h2, h3, h4{
    display: flex;
    background-color: transparent;
    justify-content: center;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}*/

h5{
    margin-top: 5px;
    margin-left: 10px;
    background-color: transparent;
}

h6{
    background-color: transparent;
}

.enter{
    color: rgb(8, 8, 143);
    font-size: 40px;
    margin-top: 40px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    font-size: 40px;
}
/*20 for three, 40 for once*/
.place{
    text-align: center;
    background-color: transparent;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.time_h3{
    background-color: inherit;
    margin-top: -5px;
    margin-bottom: 15px;
    margin: auto;
    font-size: 80px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
}

h3{
    background-color: inherit;
}

.text_color{
    display: flex;
    background-color: transparent;
    justify-content: center;
    color: grey;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family:Montserrat;
    font-weight: bold;
}

.text_time{
    display: flex;
    font-size: 50px;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.text_color_again{
    display: flex;
    color: rgb(185, 6, 6);
    font-size: 40px;
    font-family: Montserrat;
    margin: auto;
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: column;
    margin: 60px;
    justify-content: center;
}

.wra{
    background-color: inherit;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1, .box2, .box3, .box4{
    display: flex;
    background-color:inherit;
    width: 49%;
    height: 60px;
    justify-content: center;
    align-items: center;  
}

.iin{
    background-color: inherit;
    display: flex;
    font-size: 30px;
    color: grey; 
    font-weight: bold;
}

.numb{
    display: flex;
    background-color:inherit;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
}

.box1, .box3{
    border-right: black solid 2px;
}

.box3, .box4{
    border-bottom: black solid 2px;
}